.Header
    padding: 0 40px
    box-sizing: border-box
    width: 100%
    max-width: 1600px
    height: 120px
    display: grid
    justify-items: end
    align-items: end
    grid-template-columns: 1fr 3fr 1fr
    top: 20px
    position: fixed
    // background-color: var(--HeaderColorTest)
    @media screen and (max-width: 768px)
        grid-template-columns: 1fr 1fr
        grid-row-gap: 40px
        align-items: center
    @media screen and (max-width: 468px)
    

.Group
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: flex-end
    justify-items: end
    align-items: end
    gap: 44px
    @media screen and (max-width: 1078px)
        // grid-template-columns: 1fr 2fr
    @media screen and (max-width: 768px)
        margin-bottom: 36px
    @media screen and (max-width: 376px)
        // width: 100%
        // grid-row: 2
        gap: 26px
    


