.Home
    color: #e2e2e2
    background-size: cover
    // background-color: #a75c5c
    .opacity
        background-color: #fff
    .info
        margin: 0 auto
        max-width: 1600px// 1400px
        padding: 20px 40px
        box-sizing: border-box
        height: 934px //755px
        display: flex
        flex-direction: column
        justify-content: center
        h1, .description
            font-size: 3em
        .description
            margin-bottom: 40px
        .genres, .year
            font-size: 1.4em
        .year
            margin-bottom: 20px
.randomMovie
    padding: 40px
    box-sizing: border-box
    width: 100%
    max-width: 1600px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
    grid-gap: 0 36px
            
