.Navigation
    width: 100%
    display: flex
    color: #e6e6e6
    font-size: 1.2em
    a
        width: 100%
        display: flex
        justify-content: center
        align-items: flex-end
        text-decoration: none
        list-style: none
