.Tvshows
    padding: 0 40px
    box-sizing: border-box
    margin: 0 auto
    margin-top: 200px
    width: 100%
    max-width: 1600px
    display: grid
    grid-template-columns: 1fr 4fr
    color: #fff
    .TvFrame   
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
        grid-gap: 0 36px